<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <h1>Messages</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-2">

    <%= render 'layouts/sidebar' %>

  </div>
  <div class="col-md-10">
    <% @messages.each do |message| %>
      <div class="row">
        <div class="col-md-4">
          <% if message.user.id == current_user.id %>
            <% find_user(message.writer_id) %>
            <%= link_to @find_user.username, user_path(id: message.writer_id) %>
          <% else %>
            <%= link_to message.user.username, user_path(id: message.user.id) %>
          <% end -%>
        </div>
        <div class="col-md-8">
          <%= link_to message.subject, message %>
        </div>
      </div>
    <% end %>
  </div>
</div>

