<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-10">
    <h1>All users</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <%= render 'layouts/sidebar' %>
  </div>
  <div class="col-md-10">
    <% @users.each do |user| %>
      <div class="row">
        Username: <%= link_to user.username, user %><br>
        Name: <%= user.first_name + " " + user.last_name %><br>
        Email: <%= user.email %><br><br>
      </div>
    <% end -%>
  </div>
</div>
