/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

 html {
 	margin-top: 60px;
 }
 body {
 	background-color: #E6E6E6 !important;
 }
 header {
 	background-color: #7ACCA3;
 	border-bottom: 1px solid #00A37A !important;
 }
 header a:hover {
 	background-color: #00A37A !important;
 }
 footer a:hover {
 	background-color: transparent !important;
 	color: black;
 }

