<footer>
	<hr>
	  <nav class="navbar-collapse collapse">
	    <div class="container">
      <ul class="nav navbar-nav">
	      <li><%= link_to "Made with love by Thereza, 2014", "#" %></li>
	      <li><%= link_to "About",   '#' %></li>
	      <li><%= link_to "Contact", '#' %></li>
	    </ul>
      </div>
	  </nav>
</footer>